.notebook {
    background-color: rgba(0,0,0,0.03);
    cursor: pointer;
}

.notebook__notes {
    flex-direction: column;
}

.notebook__title {
    flex-direction: row;
}

.notebook__title > :first-child {
    flex-grow: 1;
}