
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&display=swap&subset=cyrillic');

:root {
  font-size: 1.5vw;
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
}

button {
  cursor: pointer;
}

