
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700&display=swap&subset=cyrillic');

:root {
  font-size: 2vw;
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'Anonymous Pro', monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  font-family: 'Anonymous Pro', monospace;
}

.notebook-wrapper {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  width: 33vw;
  align-items: flex-start;
}

.notebook-wrapper > *{
  width: 100%;
}